<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/head.ejs") %>
  <title>Video Library</title>
</head>
<body>
  <header><img src="images/logo_500.jpg" alt="Logo image"><h1>title</h1></header>
  <section class="tabs">
    <ul>
      <li><button onclick="getLibraryView();">Library</button></li>
      <li><button onclick="getCheckedOutView();">Checked Out</button></li>
      <li><button onclick="getUsers();">Users</button></li>
    </ul>
  </section>
  <section class="loading" id="main">
    Loading...
  </section>
  <footer></footer>

</body>
</html>